<ul>
	{{#each products}}
	<li>{{this.title}} - ${{this.price}}</li>
	{{/each}}
</ul>

<form class="form" id="product-form">
	<h3>Agregar producto</h3>
	<input type="text" id="title" placeholder="Nombre del producto" required>
	<input type="text" id="description" placeholder="Descripción" required>
	<input type="url" id="image" placeholder="Link de la imagen" required>
	<input type="number" id="price" placeholder="Precio" required>
	<input type="text" id="code" placeholder="Código" required>
	<input type="number" id="stock" placeholder="Stock" required>
	<input type="text" id="category" placeholder="Categoría" required>
	<button type="submit">Agregar Producto</button>
</form>

<ul id="products-container"></ul>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/products.js"></script>